.header {
  color: white;
}
.container2 {
  max-width: 1300px;
  margin: 100px;
  border-radius: 6px;
  padding: 50px;
  border: 3px solid rgb(43, 43, 43);
}
.project {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
.project h2 {
  margin-bottom: 5px;
}
.project p {
  line-height: 1.8rem;
}
.line {
  margin: 20px 0;
  border-bottom: 1px solid rgb(46, 46, 46);
}
.project img {
  max-width: 270px;
  height: 100%;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 8px;
}
