:root {
  --branco: #ffffff;
  --preto: #000000;
  --verde: #00ff7f;
  --laranja: #d98719;
  --azul-escuro: #1d1d31;
  --cinza-escuro:background-color: #181818;
  background-image: linear-gradient(160deg, #181818 0%, #1c1c1c 100%);
  --branco2: #fafafa;
  --vermelho: #ff0043;
  --rob300: 300;
  --rob400: 400;
}
.r300 {
  font-weight: var(--rob300);
}
.r400 {
  font-weight: var(--rob400);
}
.branco {
  color: var(--branco);
}
.preto {
  color: var(--preto);
}
.verde {
  color: var(--verde);
}
.laranja {
  color: var(--laranja);
}
.azul-escuro {
  color: var(--azul-escuro);
}
.cinza {
  color: var(--cinza);
}
.vermelho {
  color: var(--vermelho);
}

.button {
  display: inline-block;
  color: white;
  font-weight: 600;
  background-color: var(--vermelho);
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  width: 160px;
  transition: width 0.2s;
  text-align: center;
}
.button:hover{
  background: #cc0037;
  width: 180px;
  text-align: center;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 95px;
  height: 95px;
  object-fit: cover;
  background-color: #f9c74f;
  border-radius: 50%;
  box-shadow: 0 2px 8px #f9c74f;
}